@{
    ViewData["Title"] = "AmIsH App";
}

<!-- CONTENT -->
<section class="app-content">
    <div class="col-md-12">
        <div class="panel-group accordion" id="accordion" role="tablist" aria-multiselectable="true">
            @Html.ActionLink("Buscar Guia", "BuscarGuia", "Home")
            @Html.ActionLink("Solicitar Operador", "FacturasSinGuia", "Home")
        </div><!-- panel-group -->
    </div><!-- END column -->
</section>